/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafbfc;
  color: #18182d;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* NAVBAR */
.navbar {
  background: #18182d;
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #fafbfc;
  text-decoration: n
